doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1 Inicia Session en PQRS

            if error
                    p.alertar.error= error

            form#formulario.caja.caja-login(method="POST" action="/iniciar-sesion")
                .campo
                    label(for="email") E-mail
                    input(type="text" name="email" placeholder="Tu Email" value= email)
                .campo
                    label(for="password") Password
                    input(type="text" name="password" placeholder="Tu Password" value= password)
                .campo.enviar
                    input.boton(type="submit" value="Iniciar Session")
                .campo
                    a(href="/crear-cuenta") Aun no tienes cuenta? Crea una gratis