extends layout

include mixins/crearProyectos

block contenido
    .contenido-principal
        h1 #{nombrePagina}

        //- pre= vardump(proyecto)
        if errores 
            each error in errores
                .alerta= error.texto
        +crearProyecto(proyecto)